@font-face {
  font-family: 'Berthold';
  src: url('/static/fonts/AkzidenzGroteskBE-Light.eot');
  src: url('/static/fonts/AkzidenzGroteskBE-Light.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/AkzidenzGroteskBE-Light.woff2') format('woff2'),
      url('/static/fonts/AkzidenzGroteskBE-Light.woff') format('woff'),
      url('/static/fonts/AkzidenzGroteskBE-Light.ttf') format('truetype'),
      url('/static/fonts/AkzidenzGroteskBE-Light.svg#AkzidenzGroteskBE-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Berthold';
  src: url('/static/fonts/AkzidenzGroteskBE-Regular.eot');
  src: url('/static/fonts/AkzidenzGroteskBE-Regular.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/AkzidenzGroteskBE-Regular.woff2') format('woff2'),
      url('/static/fonts/AkzidenzGroteskBE-Regular.woff') format('woff'),
      url('/static/fonts/AkzidenzGroteskBE-Regular.ttf') format('truetype'),
      url('/static/fonts/AkzidenzGroteskBE-Regular.svg#AkzidenzGroteskBE-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Berthold';
  src: url('/static/fonts/AkzidenzGroteskBE-It.eot');
  src: url('/static/fonts/AkzidenzGroteskBE-It.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/AkzidenzGroteskBE-It.woff2') format('woff2'),
      url('/static/fonts/AkzidenzGroteskBE-It.woff') format('woff'),
      url('/static/fonts/AkzidenzGroteskBE-It.ttf') format('truetype'),
      url('/static/fonts/AkzidenzGroteskBE-It.svg#AkzidenzGroteskBE-It') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Berthold';
  src: url('/static/fonts/AkzidenzGroteskBE-Md.eot');
  src: url('/static/fonts/AkzidenzGroteskBE-Md.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/AkzidenzGroteskBE-Md.woff2') format('woff2'),
      url('/static/fonts/AkzidenzGroteskBE-Md.woff') format('woff'),
      url('/static/fonts/AkzidenzGroteskBE-Md.ttf') format('truetype'),
      url('/static/fonts/AkzidenzGroteskBE-Md.svg#AkzidenzGroteskBE-Md') format('svg');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'Berthold';
  src: url('/static/fonts/AkzidenzGroteskBE-MdIt.eot');
  src: url('/static/fonts/AkzidenzGroteskBE-MdIt.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/AkzidenzGroteskBE-MdIt.woff2') format('woff2'),
      url('/static/fonts/AkzidenzGroteskBE-MdIt.woff') format('woff'),
      url('/static/fonts/AkzidenzGroteskBE-MdIt.ttf') format('truetype'),
      url('/static/fonts/AkzidenzGroteskBE-MdIt.svg#AkzidenzGroteskBE-MdIt') format('svg');
  font-weight: 500;
  font-style: italic;
}

// Akkurat

@font-face {
  font-family: 'Akkurat';
  src: url('/static/fonts/Akkurat.eot');
  src: url('/static/fonts/Akkurat.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/Akkurat.woff2') format('woff2'),
      url('/static/fonts/Akkurat.woff') format('woff'),
      url('/static/fonts/Akkurat.ttf') format('truetype'),
      url('/static/fonts/Akkurat.svg#Akkurat') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/static/fonts/AkkuratItalicItalic.eot');
  src: url('/static/fonts/AkkuratItalicItalic.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/AkkuratItalicItalic.woff2') format('woff2'),
      url('/static/fonts/AkkuratItalicItalic.woff') format('woff'),
      url('/static/fonts/AkkuratItalicItalic.ttf') format('truetype'),
      url('/static/fonts/AkkuratItalicItalic.svg#AkkuratItalicItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Akkurat';
  src: url('/static/fonts/Akkurat-Bold.eot');
  src: url('/static/fonts/Akkurat-Bold.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/Akkurat-Bold.woff2') format('woff2'),
      url('/static/fonts/Akkurat-Bold.woff') format('woff'),
      url('/static/fonts/Akkurat-Bold.ttf') format('truetype'),
      url('/static/fonts/Akkurat-Bold.svg#Akkurat-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}