@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,500');

* {
	margin: 0;
	padding: 0;
}

html {
	color: #000000;
	background-color: #ffffff;
	height: 100%;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff;
	font-size: 100%;
	font-size: 16px;
	font-family: 'Berthold', Arial, Helvetica, sans-serif;
	font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
	font-weight: 100;
	cursor: url("/static/cursor/cursorDefault.png") 0 0, auto; /* Legacy */
  cursor: url("/static/cursor/cursorDefault.svg") 0 0, auto; /* FF */
	cursor: -webkit-image-set(url("/static/cursor/cursorDefault.png") 1x, url("/static/cursor/cursorDefault@2x.png") 2x) 0 0, auto; /* Webkit */
	
	a {
		cursor: url("/static/cursor/cursorPointer.png") 0 0, pointer; /* Legacy */
  	cursor: url("/static/cursor/cursorPointer.svg") 0 0, pointer; /* FF */
  	cursor: -webkit-image-set(url("/static/cursor/cursorPointer.png") 1x, url("/static/cursor/cursorPointer@2x.png") 2x) 0 0, pointer; /* Webkit */
	}

	b {
		font-family: 'Berthold', Arial, Helvetica, sans-serif;
		font-weight: 500;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Berthold', Arial, Helvetica, sans-serif;
	font-weight: 500;
}

.page-transition-enter {
	opacity: 0;
}
.page-transition-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.page-transition-exit {
	opacity: 1;
}
.page-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
